

.carousel-item {
    background-image: url('./img/test.png');
}

.carousel-item-two {
    background-image: url('./img/main-top.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.carousel-item-three {
    background-image: url('./img/main-body.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}


.firstslide {
    width: auto;
    height: auto;
    color: #ffffff;
    font-family: 'East Sea Dokdo', cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}